<!DOCTYPE html>
<html lang="en">
<head>
  <title>SmolURL - 404</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="static\bootstrap-5.2.1-dist\css\bootstrap.min.css" rel="stylesheet">
  <script src="static\bootstrap-5.2.1-dist\js\bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container-fluid p-5 bg-dark text-white text-center">
    <h1>SmolURL</h1>
    <p>Shorten long URLs to make them more accessible!</p> 
  </div>

  <div>
	<h3>The page you have requested for does not exist :(</h3>
  </div>
</body>
</html>