<!DOCTYPE html>
<html lang="en">
<head>
  <title>SmolURL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="static\bootstrap-5.2.1-dist\css\bootstrap.min.css" rel="stylesheet">
  <script src="static\bootstrap-5.2.1-dist\js\bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container-fluid p-5 bg-dark text-white text-center">
    <h1>SmolURL</h1>
    <p>Shorten long URLs to make them more accessible!</p> 
  </div>
    
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 px-3 py-3">
        <label class="col-md-6 offset-md-2" >
          <h3>
            Shorten your URL!
          </h3>
        </label>
        <form class="row">
          <div class="col-md-6 offset-md-2 py-3">
            <input type="text" class="form-control" id="original_id" placeholder="URL you wish to Shorten">
          </div>
          <div class="col-md-2 py-3">
            <button type="submit" class="btn col-12 btn-primary">Shorten!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  </body>
</html>